// Add your own custom styles here
.metadata {
    color: #e64632;
	font-size: 14px;
}

h4 {
	font-size: 32px;
}

.related {
	padding-top: 2rem;
	padding-bottom: 1rem;
}

.related-divider {
    border-color: #e64632;
}