// Add your own custom styles here
.metadata {
    color: #e64632;
	font-size: 14px;
}

h4 {
	font-size: 32px;
}

.related {
	padding-top: 2rem;
	padding-bottom: 0.5rem;
	margin-bottom: 1.25rem;
}

.section {
	padding-top: 2rem;
}


.related-divider {
    border-color: #e64632;
}


.share-icon {
	border-radius: 0.25rem;
}

.share-title {
	color: #444444;
	font-size: 15px;	
}

.btn-primary {
	background-color: #444444;
	border-radius: 0.25rem;
}

.content {
  line-height: 1.8;
  color: #333
}

.content :where(blockquote):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
	font-weight: 100;
	font-style: italic;
	border-radius: 4px;
	border-style: none;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;	
}

.content h2, .content h3 {
  margin-top: 2.5rem; /* More space before new sections */
  margin-bottom: 1rem;
  font-weight: 700;
}

.content p {
  margin-bottom: 1.5rem; /* Better paragraph spacing */
}

/* Make images "pop" */
.content img {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.5);
}

.aboutImage {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.5);
}


blockquote {
	border-radius: 0px;
}

.card {
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);	
}

.categories {
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);	
}