// Add your own custom styles here
.metadata {
    color: #e64632;
	font-size: 14px;
}

h4 {
	font-size: 32px;
}

.related {
	padding-top: 2rem;
	padding-bottom: 0.5rem;
	margin-bottom: 1.25rem;
}

.section {
	padding-top: 2rem;
}


.related-divider {
    border-color: #e64632;
}


.share-icon {
	border-radius: 0.25rem;
}

.share-title {
	color: #444444;	
}

.btn-primary {
	background-color: #444444;
	border-radius: 0.25rem;
}

.content :where(blockquote):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
	font-weight: 100;
	font-style: italic;
	background-color: #ffffff;
	border-style: none;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	color: #444444;
}

blockquote {
	border-radius: 0px;
}
